@import 'mixin', 'colors';
@import 'modal';

.round{
  background: #1d76b5;
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 6px 0;
    margin-bottom: -5px;
}
table.fixtures, table.ladders, table.final-placings{
  border-color: #1d76b5; 

  td{
    padding: 5px 10px;
  }
}